# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Final.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Remi\Documents\Unity Projects\UnityM1\Final\.idea\.idea.Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
